name: tio_finder
description: "Tió Finder - Find hidden tiós using a Dragon Ball-style radar"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  geolocator: ^13.0.2
  flutter_compass: ^0.8.1
  shared_preferences: ^2.3.3
  vibration: ^3.0.0
  audioplayers: ^6.1.0
  provider: ^6.1.2
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/sounds/
